* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header .top-banner {
  background: #121a2e;
  font-size: 0.89rem;
  color: #9ca2af;
  padding: 0.7em;
}

header .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5em;
          column-gap: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 85px;
}

header .header-links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2.7rem;
          column-gap: 2.7rem;
  margin: 0;
}

header .header-links > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-size: 0.85rem;
  font-weight: 500;
}

header .header-links > ul li:hover {
  cursor: pointer;
}

header .header-links .header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-links .header-actions .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

header .header-links .header-actions .contact:hover {
  cursor: pointer;
}

header .header-links .header-actions .contact .phone-icon {
  color: #4eab4c;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .header-links .header-actions .contact .label {
  font-size: 11px;
  font-weight: 400;
  color: gray;
}

header .header-links .header-actions .contact .tel {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

header .header-links .header-actions .btn {
  font-size: 14px;
  border: none;
  border-radius: 35px;
  padding: 1em 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1e60ac;
}

.hero {
  height: 100vh;
  max-height: 850px;
  background-color: #151e36;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15%;
}

.hero .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5em;
  width: 500px;
}

.hero .description h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

.hero .description .btn {
  margin-top: 2em;
  border: none;
  border-radius: 35px;
  padding: 1em 3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #4eab4c;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  background-color: #fff;
  z-index: 2;
}

.statistics > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin: 0;
}

.statistics > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-size: 0.85rem;
  font-weight: 400;
  padding: 0 2em;
  max-width: 300px;
}

.statistics > ul li:not(:last-child) {
  border-right: 2px solid #dbdbdb;
}

.statistics > ul li:hover {
  cursor: pointer;
}

.statistics > ul li .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.statistics > ul li .stats .number {
  font-size: 2rem;
  font-weight: bold;
  color: #4070a7;
}

.statistics > ul li .stats .label {
  font-size: 1rem;
  font-weight: 600;
  word-wrap: break-word;
}

.about-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  padding-right: 15%;
  overflow: hidden;
}

.about-us .comb {
  position: relative;
  height: 800px;
  margin-top: -250px;
}

.about-us .comb .back .wrapper {
  -webkit-clip-path: polygon(47.5% 5.66987%, 48.2899% 5.30154%, 49.13176% 5.07596%, 50% 5%, 50.86824% 5.07596%, 51.7101% 5.30154%, 52.5% 5.66987%, 87.14102% 25.66987%, 87.85495% 26.16978%, 88.47124% 26.78606%, 88.97114% 27.5%, 89.33948% 28.2899%, 89.56505% 29.13176%, 89.64102% 30%, 89.64102% 70%, 89.56505% 70.86824%, 89.33948% 71.7101%, 88.97114% 72.5%, 88.47124% 73.21394%, 87.85495% 73.83022%, 87.14102% 74.33013%, 52.5% 94.33013%, 51.7101% 94.69846%, 50.86824% 94.92404%, 50% 95%, 49.13176% 94.92404%, 48.2899% 94.69846%, 47.5% 94.33013%, 12.85898% 74.33013%, 12.14505% 73.83022%, 11.52876% 73.21394%, 11.02886% 72.5%, 10.66052% 71.7101%, 10.43495% 70.86824%, 10.35898% 70%, 10.35898% 30%, 10.43495% 29.13176%, 10.66052% 28.2899%, 11.02886% 27.5%, 11.52876% 26.78606%, 12.14505% 26.16978%, 12.85898% 25.66987%);
          clip-path: polygon(47.5% 5.66987%, 48.2899% 5.30154%, 49.13176% 5.07596%, 50% 5%, 50.86824% 5.07596%, 51.7101% 5.30154%, 52.5% 5.66987%, 87.14102% 25.66987%, 87.85495% 26.16978%, 88.47124% 26.78606%, 88.97114% 27.5%, 89.33948% 28.2899%, 89.56505% 29.13176%, 89.64102% 30%, 89.64102% 70%, 89.56505% 70.86824%, 89.33948% 71.7101%, 88.97114% 72.5%, 88.47124% 73.21394%, 87.85495% 73.83022%, 87.14102% 74.33013%, 52.5% 94.33013%, 51.7101% 94.69846%, 50.86824% 94.92404%, 50% 95%, 49.13176% 94.92404%, 48.2899% 94.69846%, 47.5% 94.33013%, 12.85898% 74.33013%, 12.14505% 73.83022%, 11.52876% 73.21394%, 11.02886% 72.5%, 10.66052% 71.7101%, 10.43495% 70.86824%, 10.35898% 70%, 10.35898% 30%, 10.43495% 29.13176%, 10.66052% 28.2899%, 11.02886% 27.5%, 11.52876% 26.78606%, 12.14505% 26.16978%, 12.85898% 25.66987%);
}

.about-us .comb .back .wrapper img {
  width: 900px;
  height: 800px;
}

.about-us .comb .overlay-btn .play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 51%;
  top: 54%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #4eab4c;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.about-us .about-company .btn {
  margin-top: 2em;
  border: none;
  border-radius: 35px;
  padding: 1em 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  background-color: #1e60ac;
}
/*# sourceMappingURL=main.css.map */