// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$start-point: 15%;
$font-statistics: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $font-statistics;
}
// HEADER
header {
  .top-banner {
    background: #121a2e;
    font-size: 0.89rem;
    color: #9ca2af;
    padding: 0.7em;
  }

  .header-links {
    display: flex;
    column-gap: 5em;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 85px; // header height
    // padding-left: $start-point;

    > ul {
      display: flex;
      flex-direction: row;
      column-gap: 2.7rem;
      margin: 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-size: 0.85rem;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .header-actions {
      display: flex;
      column-gap: 2em;
      align-items: center;
      .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover {
          cursor: pointer;
        }

        .phone-icon {
          color: #4eab4c;
          transform: rotate(-45deg);
        }

        .label {
          font-size: 11px;
          font-weight: 400;
          color: gray;
        }

        .tel {
          font-size: 14px;
          font-weight: 600;
          color: black;
        }
      }

      .btn {
        font-size: 14px;
        border: none;
        border-radius: 35px;
        padding: 1em 2em;
        width: fit-content;
        background-color: #1e60ac;
      }
    }
  }
}

// HERO SECTION
.hero {
  height: 100vh;
  max-height: 850px;
  // background-image: url('https://data2.1freewallpapers.com/detail/tablet-smart-phone-hi-tech.jpg');
  background-color: rgb(21, 30, 54);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15%;

  .description {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    width: 500px;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      color: #fff;
    }

    .btn {
      margin-top: 2em;
      border: none;
      border-radius: 35px;
      padding: 1em 3em;
      width: fit-content;
      background-color: #4eab4c;
    }
  }
}

// STATISTICS SECTION
.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #fff;
  z-index: 2;

  > ul {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      font-size: 0.85rem;
      font-weight: 400;
      padding: 0 2em;
      max-width: 300px;

      &:not(:last-child) {
        border-right: 2px solid #dbdbdb;
      }

      &:hover {
        cursor: pointer;
      }

      .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .number {
          font-size: 2rem;
          font-weight: bold;
          color: #4070a7;
        }

        .label {
          font-size: 1rem;
          font-weight: 600;
          word-wrap: break-word;
        }
      }
    }
  }
}

// ABOUT SECTION
.about-us {
  position: relative;
  display: flex;
  align-items: center;
  height: 600px;

  padding-right: $start-point;
  overflow: hidden;

  .comb {
    position: relative;
    height: 800px;
    margin-top: -250px;

    .back {
      .wrapper {
        clip-path: polygon(
          47.5% 5.66987%,
          48.2899% 5.30154%,
          49.13176% 5.07596%,
          50% 5%,
          50.86824% 5.07596%,
          51.7101% 5.30154%,
          52.5% 5.66987%,
          87.14102% 25.66987%,
          87.85495% 26.16978%,
          88.47124% 26.78606%,
          88.97114% 27.5%,
          89.33948% 28.2899%,
          89.56505% 29.13176%,
          89.64102% 30%,
          89.64102% 70%,
          89.56505% 70.86824%,
          89.33948% 71.7101%,
          88.97114% 72.5%,
          88.47124% 73.21394%,
          87.85495% 73.83022%,
          87.14102% 74.33013%,
          52.5% 94.33013%,
          51.7101% 94.69846%,
          50.86824% 94.92404%,
          50% 95%,
          49.13176% 94.92404%,
          48.2899% 94.69846%,
          47.5% 94.33013%,
          12.85898% 74.33013%,
          12.14505% 73.83022%,
          11.52876% 73.21394%,
          11.02886% 72.5%,
          10.66052% 71.7101%,
          10.43495% 70.86824%,
          10.35898% 70%,
          10.35898% 30%,
          10.43495% 29.13176%,
          10.66052% 28.2899%,
          11.02886% 27.5%,
          11.52876% 26.78606%,
          12.14505% 26.16978%,
          12.85898% 25.66987%
        );
        img {
          width: 900px;
          height: 800px;
        }
      }
    }

    .overlay-btn {
      .play-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 51%;
        top: 54%;
        transform: translate(-50%, -50%);
        color: #4eab4c;
        font-size: 1.5rem;
        background-color: white;
        border-radius: 50%;
        width: 75px;
        height: 75px;
      }
    }
  }

  .about-company {
    .btn {
      margin-top: 2em;
      border: none;
      border-radius: 35px;
      padding: 1em 2em;
      width: fit-content;
      font-weight: 500;
      background-color: #1e60ac;
    }
  }
}
