// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$start-point: 15%;
$font-statistics: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $font-statistics;
}

header {
  .top-banner {
    background: #121a2e;
    font-size: 0.89rem;
    color: #9ca2af;
    padding: 0.7em;
  }

  .header-links {
    display: flex;
    column-gap: 5em;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    height: 85px; // header height
    padding-left: $start-point;

    > ul {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
      margin: 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-size: 0.85rem;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .header-actions {
      display: flex;
      column-gap: 2em;
      align-items: center;
      .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover {
          cursor: pointer;
        }

        .phone-icon {
          color: #4EAB4C;
          transform: rotate(-45deg);
        }

        .label {
          font-size: 11px;
          font-weight: 400;
          color: gray;
        }

        .tel {
          font-size: 14px;
          font-weight: 600;
          color: black;
        }
      }

      .btn {
        font-size: 14px;
        border: none;
        border-radius: 35px;
        padding: 1em 2em;
        width: fit-content;
        background-color: #1E60AC;
      }
    }
  }
}

.hero {
  height: 100vh;
  max-height: 850px;
  // background-image: url('https://data2.1freewallpapers.com/detail/tablet-smart-phone-hi-tech.jpg');
  background-color: rgb(21, 30, 54);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15%;

  .description {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    width: 500px;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      color: #fff;
    }

    .btn {
      margin-top: 2em;
      border: none;
      border-radius: 35px;
      padding: 1em 3em;
      width: fit-content;
      background-color: #4EAB4C;
    }
  }
}

.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #fff;

  > ul {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
      margin: 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-size: 0.85rem;
        font-weight: 400;
        padding: 0 2em;
        max-width: 300px;

        &:not(:last-child) {
          border-right: 2px solid #DBDBDB;
        }

        &:hover {
          cursor: pointer;
        }

        .stats {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          .number {
            font-size: 2rem;
            font-weight: bold;
            color: #4070A7;
          }

          .label {
            font-size: 1rem;
            font-weight: 600;
            word-wrap: break-word;
          }
        }
      }
    }
}

